<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>AddressBook (Тестовое задание) &bull; @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/App_Themes/AddressBook/css")
</head>
<body>
    <div id="main">
        <header>
            <div id="logo">
                <div id="logo_text">
                    <div style="float: right;">
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                    </div>
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1><a href="~/"><span class="logo_colour">AddressBook</span></a></h1>
                    <h2>Тестовое задание</h2>
                </div>
            </div>
            <nav>
                <div id="menu_container">
                    <ul class="sf-menu" id="nav">
                        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                        <li>@Html.ActionLink("Поиск", "Index", "Search")</li>
                        <li>@Html.ActionLink("Мои контакты", "MyContacts", "Home")</li>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="site_content">
            <div id="sidebar_container">
                @RenderSection("SideBar", false)
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>
        <footer>
            <p><a href="index.html">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.php">Contact Us</a></p>
            <p>Copyright &copy; CSS3_two | <a href="http://www.css3templates.co.uk">design from css3templates.co.uk</a></p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
