<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@Resources.Views.AddressBook (@Resources.Views.TestTask) &bull; @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/App_Themes/AddressBook/css")
</head>
<body>
    <div id="main">
        <header>
            <div id="logo">
                <div id="logo_text">
                    <div style="float: right;">
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                        <section id="lang">
                            <ul>
                                <li>@Html.ActionLink(Resources.Views.Russian, "ChangeLanguage", "Home", new { lang = "ru", returnUrl = this.Request.RawUrl }, null)</li>
                                <li>@Html.ActionLink(Resources.Views.English, "ChangeLanguage", "Home", new { lang = "en", returnUrl = this.Request.RawUrl }, null)</li>
                            </ul>
                        </section>
                    </div>
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1><a href="~/"><span class="logo_colour">@Resources.Views.AddressBook</span></a></h1>
                    <h2>@Resources.Views.TestTask</h2>
                </div>
            </div>
            <nav>
                <div id="menu_container">
                    <ul class="sf-menu" id="nav">
                        <li>@Html.ActionLink(@Resources.Views.MainPage, "Index", "Home")</li>
                        <li>@Html.ActionLink(@Resources.Views.Search, "Index", "Search")</li>
                        <li>@Html.ActionLink(@Resources.Views.MyContacts, "MyContacts", "Home")</li>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="site_content">
            <div id="sidebar_container">
                @RenderSection("SideBar", false)
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>
        <footer>
            <p>@Html.ActionLink(@Resources.Views.MainPage, "Index", "Home") | @Html.ActionLink(@Resources.Views.Search, "Index", "Search") | @Html.ActionLink(@Resources.Views.MyContacts, "MyContacts", "Home")</p>
            <p>&copy; @Resources.Views.Copyright | <a href="http://www.css3templates.co.uk">@Resources.Views.CopyrightDesing</a></p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
