@model IEnumerable<AddressBook.Models.Contacts>

@{
    AjaxOptions ajaxOption = new AjaxOptions { UpdateTargetId = "contactList", LoadingElementId = "loading", LoadingElementDuration = 2000 };
}

@if (Model != null)
{
    Session["ModelForSort"] = Model;
    <div class="sortingLinks">
        Сортировка:
        @Ajax.ActionLink("по имени", "SortingList", "Home", new { sort = "firstname" }, ajaxOption) |
        @Ajax.ActionLink("по фамилии", "SortingList", "Home", new { sort = "lastname" }, ajaxOption) |
        @Ajax.ActionLink("по № телефона", "SortingList", "Home", new { sort = "phone" }, ajaxOption) |
        @Ajax.ActionLink("по email", "SortingList", "Home", new { sort = "email" }, ajaxOption)
    </div>

    <img id="loading" src="@Url.Content("~/App_Themes/AddressBook/images/ajax-loader.gif")" style="display: none;" />
    
    <table class="contactList">
        <tr>
            <th>Фамилия, Имя</th>
            <th colspan="2">Контактные данные</th>
            <th colspan="2">Управление</th>
        </tr>

        @foreach (var item in Model)
        {
            string fullName = String.Empty;
            fullName = item.LastName + " " + item.FirstName;
        
            <tr>
                <td>
                    @Html.ActionLink(fullName, "Details", "Home", new { id = item.ContactsId }, new { @class = "details", @title = "Детали контакта " + fullName })
                </td>
                <td>
                    @Html.DisplayFor(p => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(e => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", "Home", new { id = item.ContactsId }, null)
                </td>
                <td>
                    @Html.ActionLink("Удалить", "Delete", "Home", new { id = item.ContactsId }, new { onclick = "return confirm('Вы точно хотите удалить этот контакт?')" })
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="noData">Нет данных</div>
}

@Scripts.Render("~/App_Themes/AddressBook/colorbox")
<script>
    $(document).ready(function () {
        $("a.details").colorbox();
    });
</script>
