@model IEnumerable<AddressBook.Models.Contacts>

@{
    AjaxOptions ajaxOption = new AjaxOptions { UpdateTargetId = "contactList", LoadingElementId = "loading", LoadingElementDuration = 2000 };
}

@if (Model != null)
{
    Session["ModelForSort"] = Model;
    <div class="sortingLinks">
        @Resources.Views.Sort:
        @Ajax.ActionLink(Resources.Views.SortFirstName, "SortingList", "Home", new { sort = "firstname" }, ajaxOption) |
        @Ajax.ActionLink(Resources.Views.SortLastName, "SortingList", "Home", new { sort = "lastname" }, ajaxOption) |
        @Ajax.ActionLink(Resources.Views.SortPhone, "SortingList", "Home", new { sort = "phone" }, ajaxOption) |
        @Ajax.ActionLink(Resources.Views.SortEmail, "SortingList", "Home", new { sort = "email" }, ajaxOption)
    </div>

    <img id="loading" src="@Url.Content("~/App_Themes/AddressBook/images/ajax-loader.gif")" style="display: none;" />
    
    <table class="contactList">
        <tr>
            <th>@Resources.Views.LastName, @Resources.Views.FirstName</th>
            <th colspan="2">@Resources.Views.ContactData</th>
            <th colspan="2">@Resources.Views.Manage</th>
        </tr>

        @foreach (var item in Model)
        {
            string fullName = String.Empty;
            fullName = item.LastName + " " + item.FirstName;
        
            <tr>
                <td>
                    @Html.ActionLink(fullName, "Details", "Home", new { id = item.ContactsId }, new { @class = "details", @title = Resources.Views.ContactDetails + " " + fullName })
                </td>
                <td>
                    @Html.DisplayFor(p => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(e => item.Email)
                </td>
                <td>
                    @Html.ActionLink(Resources.Views.Edit, "Edit", "Home", new { id = item.ContactsId }, null)
                </td>
                <td>
                    @Html.ActionLink(Resources.Views.Delete, "Delete", "Home", new { id = item.ContactsId }, new { onclick = Resources.Views.ConfirmDelete })
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="noData">@Resources.Views.NoInfo</div>
}

@Scripts.Render("~/App_Themes/AddressBook/colorbox")
<script>
    $(document).ready(function () {
        $("a.details").colorbox();
    });
</script>
