@model AddressBook.Models.Contacts

@{
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addresses.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addresses.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addresses.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addresses.House)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addresses.Room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Types.Name)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Phone)
        </td>
        <td>
            @Html.DisplayFor(model => model.Addresses.Country)
        </td>
        <td>
            @Html.DisplayFor(model => model.Addresses.City)
        </td>
        <td>
            @Html.DisplayFor(model => model.Addresses.Street)
        </td>
        <td>
            @Html.DisplayFor(model => model.Addresses.House)
        </td>
        <td>
            @Html.DisplayFor(model => model.Addresses.Room)
        </td>
        <td>
            @Html.DisplayFor(model => model.Types.Name)
        </td>
    </tr>
</table>
