@model AddressBook.Models.Contacts

@{
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>

        @foreach (AddressBook.Models.Addresses address in ViewBag.Address)
        {   
            <th>
                @Html.DisplayNameFor(a => address.Country)
            </th>
            <th>
                @Html.DisplayNameFor(a => address.City)
            </th>
            <th>
                @Html.DisplayNameFor(a => address.Street)
            </th>
            <th>
                @Html.DisplayNameFor(a => address.House)
            </th>
            <th>
                @Html.DisplayNameFor(a => address.Room)
            </th>   
        }

        @foreach (AddressBook.Models.Types typeItem in ViewBag.Type)
        {   
            <th>
                @Html.DisplayNameFor(t => typeItem.Name)
            </th>
        }

    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Phone)
        </td>

        @foreach (AddressBook.Models.Addresses address in ViewBag.Address)
        {   
            <td>
                @Html.DisplayFor(a => address.Country)
            </td>
            <td>
                @Html.DisplayFor(a => address.City)
            </td>
            <td>
                @Html.DisplayFor(a => address.Street)
            </td>
            <td>
                @Html.DisplayFor(a => address.House)
            </td>
            <td>
                @Html.DisplayFor(a => address.Room)
            </td>   
        }

        @foreach (AddressBook.Models.Types type in ViewBag.Type)
        {   
            <td>
                @Html.DisplayFor(t => type.Name)
            </td> 
        }

    </tr>
</table>
