@model IEnumerable<AddressBook.Models.Contacts>

@{
    ViewBag.Title = "Главная страница";
}


<div class="ChangeDBInfo">@TempData["ChangeDBInfo"]</div>

<h2>Список контактов</h2>

<p>
    @Html.ActionLink("Создать", "Create", null, new { @class = "linkButton" })
</p>
<table>
    <tr>
        <th>Фамилия, Имя</th>
        <th colspan="2">Контактные данные</th>
        <th colspan="2">Управление</th>
    </tr>

    @foreach (var item in Model)
    {
        string fullName = String.Empty;
        fullName = item.LastName + " " + item.FirstName;
        
        <tr>
            <td>
                @Html.ActionLink(fullName, "Details", new { id = item.ContactsId }, new { @class = "Details", @title = "Детали контакта " + fullName })
            </td>
            <td>
                @Html.DisplayFor(p => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(p => item.Email)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ContactsId })
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", new { id = item.ContactsId }, new { onclick = "return confirm('Вы точно хотите удалить этот контакт?')" })
            </td>
        </tr>
    }

</table>
