@using AddressBook.Models
@model IEnumerable<Contacts>

@{
    ViewBag.Title = @Resources.Views.MainPage;
}

<div class="userBarInfo">@TempData["ChangeDBInfo"]</div>

<h2>@Resources.Views.ContactsList</h2>

<p>
    @Html.ActionLink(@Resources.Views.Create, "Create", null, new { @class = "linkButton" })
</p>

<div id="contactList">
    @Html.Partial("ContactList", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/ajax")
}
@section Sidebar {
    <div class="sidebar">
        @Html.Partial("_LastContacts", (IEnumerable<Contacts>)ViewBag.LastContacts)
    </div>
    <div class="sidebar">
        @Html.Partial("_LastUsers", (IEnumerable<UserProfile>)ViewBag.LastUsers)
    </div>
}