@model IEnumerable<AddressBook.Models.Contacts>

@{
    ViewBag.Title = "Главная страница";
}


<div class="ChangeDBInfo">@TempData["ChangeDBInfo"]</div>

<h2>Список контактов</h2>

<p>
    @Html.ActionLink("Создать", "Create", null, new { @class = "linkButton" })
</p>
<div class="sortingLinks">
    Сортировка:
    @Ajax.ActionLink("по имени", "ContactList", new { sort = "firstname" }, new AjaxOptions { UpdateTargetId = "ContactList", LoadingElementId = "loading", LoadingElementDuration = 100 }) |
    @Ajax.ActionLink("по фамилии", "ContactList", new { sort = "lastname" }, new AjaxOptions { UpdateTargetId = "ContactList" }) |
    @Ajax.ActionLink("по № телефона", "ContactList", new { sort = "phone" }, new AjaxOptions { UpdateTargetId = "ContactList" }) |
    @Ajax.ActionLink("по email", "ContactList", new { sort = "email" }, new AjaxOptions { UpdateTargetId = "ContactList" })
    <img id="loading" src="@Url.Content("~/App_Themes/AddressBook/images/ajax-loader.gif")" style="display:none" />
</div>

<div id="ContactList">
    @Html.Partial("ContactList", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}