@model AddressBook.Models.LoginModel

@{
    ViewBag.Title = @Resources.Views.ToSign;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="loginForm">
    <h2>@Resources.Views.EnterLocalAccount</h2>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>@Resources.Views.LoginForm</legend>

            @Html.LabelFor(m => m.UserName)<br />
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
            <br />
            @Html.LabelFor(m => m.Password)<br />
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
            <br />
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            <br />
            <input type="submit" value="@Resources.Views.ToSign" />
        </fieldset>
        <p>
            @Html.ActionLink(@Resources.Views.SignUp, "Register"), @Resources.Views.IfNotHaveAccount
        </p>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
