@model AddressBook.Models.RegisterModel
@{
    ViewBag.Title = @Resources.Views.Register;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@Resources.Views.CreateNewAccount</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>@Resources.Views.RegistrationForm</legend>

                @Html.LabelFor(m => m.UserName)<br />
                @Html.TextBoxFor(m => m.UserName)
                <br />
                @Html.LabelFor(m => m.Password)<br />
                @Html.PasswordFor(m => m.Password)
                <br />
                @Html.LabelFor(m => m.ConfirmPassword)<br />
                @Html.PasswordFor(m => m.ConfirmPassword)
                <br />
        <input type="submit" value="@Resources.Views.Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
