@{
    ViewBag.Title = Resources.Views.SearchFirstChar;
    AjaxOptions ajaxOption = new AjaxOptions { UpdateTargetId = "contactList", LoadingElementId = "loading", LoadingElementDuration = 2000 };
}

<h2>@ViewBag.Title</h2>

<div class="searchSection">
    @using (Ajax.BeginForm("Result", "Search", ajaxOption))
    {
        @Html.DropDownList("selectSymbols", (IEnumerable<SelectListItem>)ViewBag.Symbols)
        <label>@Html.RadioButton("searchOption", 1) @Resources.Views.SearchFirstName</label>
        <label>@Html.RadioButton("searchOption", 2) @Resources.Views.SearchLastName</label>
        <label>@Html.RadioButton("searchOption", 3) @Resources.Views.SearchPhone</label>
        <label>@Html.RadioButton("searchOption", 4) @Resources.Views.SearchEmail</label>
        <input type="submit" value="@Resources.Views.Search" />
    }
</div>

<div id="contactList">
    @Html.Partial("ContactList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/ajax")
}